<%- include("../partials/header"); -%>

    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-9 main-chart">
                    <div class="row mb">
                        <!-- page start-->
                        <div class="content-panel">

                            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">NA</th>
                                        <th style="text-align: center;">ID_VMS</th>
                                        <th class="hidden-phone" style="text-align: center;">REG_ID</th>
                                        <th class="hidden-phone" style="text-align: center;">IMEI</th>
                                        <th class="hidden-phone" style="text-align: center;">ICCID</th>
                                        <th class="hidden-phone" style="text-align: center;">RC</th>
                                        <th class="hidden-phone" style="text-align: center;">DABEG</th>
                                        <th class="hidden-phone" style="text-align: center;">DAEND</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% navires.forEach(function(navire) { %>

                                        <tr class="gradeX">

                                            <td style="text-align: center;font-size: medium;">
                                                <a href="/navire/navire/<%= navire.ID_VMS%>" style="color:gray;">
                                                    <%= navire.NA %>
                                                </a>
                                            </td>
                                            <td class="hidden-phone" style="text-align: center; font-size: medium;">
                                                <%= navire.ID_VMS %>
                                            </td>
                                            <td class="center hidden-phone" style="text-align: center; font-size: medium;">
                                                <%= navire.REG_ID %>
                                            </td>
                                            <td class="center hidden-phone" style="text-align: center; font-size: medium;">
                                                <%= navire.IMEI %>
                                            </td>
                                            <td class="center hidden-phone" style="text-align: center; font-size: medium;">
                                                <%= navire.ICCID %>
                                            </td>
                                            <td class="center hidden-phone" style="text-align: center; font-size: medium;">
                                                <%= navire.RC %>
                                            </td>

                                            <td class="center hidden-phone" style="text-align: center; font-size: medium;">

                                                <%= navire.DABeg[6]%>
                                                    <%= navire.DABeg[7]%> -
                                                        <%= navire.DABeg[4]%>
                                                            <%= navire.DABeg[5]%> -
                                                                <%= navire.DABeg[0]%>
                                                                    <%= navire.DABeg[1]%>
                                                                        <%= navire.DABeg[2]%>
                                                                            <%= navire.DABeg[3]%>

                                            </td>
                                            <td class="center hidden-phone" style="text-align: center; font-size: medium;">
                                                <%= navire.DAEnd[6]%>
                                                    <%= navire.DAEnd[7]%> -
                                                        <%= navire.DAEnd[4]%>
                                                            <%= navire.DAEnd[5]%> -
                                                                <%= navire.DAEnd[0]%>
                                                                    <%= navire.DAEnd[1]%>
                                                                        <%= navire.DAEnd[2]%>
                                                                            <%= navire.DAEnd[3]%>
                                            </td>
                                        </tr>

                                        <% }); %>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>





                <div class="col-lg-3 ds">
                    <div class="notificationBarVisibility">
                        <div class='centered'>
                            <span><h4>Nombre total des navires : <br><br>
                                <%= nombreDesNavire%></h4></span>
                            <hr>

                            <form action="/navire/PickerSingleDate" method="get">
                                <h4 class="centered mt">Recherche Par Date</h4>
                                <input type="date" id="recherche1" value="" name="date" size="16" class="form-control" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                                <h5 class="centered mt"><button type="submit" class="btn btn-warning btn-lg btn-block">Recherche par date</button></h5>
                            </form>
                        </div>
                        <hr>
                        <form action="/navire/PickerBetweenDate" method="get">
                            <div class='centered'>
                                <h4 class="centered mt ">Recherche entre deux dates</h4>
                                <br>
                                <h5>Début</h5>
                                <input type="date" lang="fr-CA" value="" id="recherche2" name="date1" size="16" class="form-control" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">

                                <h5>Fin</h5>
                                <input type="date" lang="fr-CA" value="" id="recherche3" name="date2" size="16" class="form-control" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                            </div>
                            <div class='centered'>
                                <br>
                                <h5 class="centered mt"><button type="submit" class="btn btn-warning btn-lg btn-block">Recherche entre deux dates</button></h5>
                            </div>
                        </form>
                        <hr>

                        <form action="/navire/PickerRequete" method="get">
                            <div class='centered'>

                                <h4 class="centered mt">Recherche par entéte</h4>
                                <br>
                                <h5>Entrer Votre entéte</h5>
                                <input type="test" placeholder="ID_VMD, NA ...." id="bday" name="recherche" class="form-control">
                            </div>
                            <div class='centered'>
                                <br>

                                <h5 class="centered mt"><button type="submit" class="btn btn-warning btn-lg btn-block">Recherche par entéte</button></h5>
                            </div>
                        </form>
                        <br>
                        <br>

                    </div>
                </div>
            </div>
            </div>
            </div>
            </div>
        </section>
    </section>



    <script type="text/javascript" src="/js/pickerDateConfig.js"></script>





    <%- include("../partials/footer"); -%>