<%- include("../partials/header"); -%>
    <style>
        .teste {
            width: 130px;
            height: 130px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            border: 10px solid red;
            margin-top: 20px;
        }
    </style>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

    <section id="main-content">
        <section class="wrapper site-min-height">
            <div class="row mt">
                <% navire.forEach(navireData => { %>

                    <div class="col-lg-12">
                        <div class="row content-panel">
                            <div class="col-md-4 profile-text mt mb centered">
                                <div class="right-divider hidden-sm hidden-xs">



                                    <h4>Debut d'abonnement</h4>
                                    <h5>
                                        <%= navireData['DABeg'][6]%>
                                            <%= navireData['DABeg'][7]%> /
                                                <%= navireData['DABeg'][4]%>
                                                    <%= navireData['DABeg'][5]%> /
                                                        <%= navireData['DABeg'][0]%>
                                                            <%= navireData['DABeg'][1]%>
                                                                <%= navireData['DABeg'][2]%>
                                                                    <%= navireData['DABeg'][3]%>
                                    </h5>
                                    <h4>Fin d'abonnement</h4>
                                    <h5>
                                        <%= navireData['DAEnd'][6]%>
                                            <%= navireData['DAEnd'][7]%> /
                                                <%= navireData['DAEnd'][4]%>
                                                    <%= navireData['DAEnd'][5]%> /
                                                        <%= navireData['DAEnd'][0]%>
                                                            <%= navireData['DAEnd'][1]%>
                                                                <%= navireData['DAEnd'][2]%>
                                                                    <%= navireData['DAEnd'][3]%>
                                    </h5>
                                    <% if (validationAbonnement !== ""){%>
                                        <h4 style="color:<%= validationAbonnement %>">
                                            <%= msgAbonnement %>
                                        </h4>
                                        <%}%>
                                </div>
                            </div>
                            <!-- /col-md-4 -->
                            <div class="col-md-4 profile-text">
                                <br>
                                <h1>
                                    <%= navireData.NA%>
                                </h1>
                                <h5>
                                    <%= navireData.ID_VMS%>
                                </h5>
                                <h5>
                                    <a href="/navire/historique/<%= navireData.ID_VMS %>">Historique de navigation > </a>

                                </h5>
                                <br>
                            </div>
                            <!-- /col-md-4 -->
                            <div class="col-md-4 centered">
                                <div class="profile-pic">
                                    <% if (validationAbonnement === "red"){%>
                                        <p><img src="/images.png" class="img-circle" style="border: 10px solid red;"></p>
                                        <%}else if(validationAbonnement === "orange"){%>
                                            <p><img src="/images.png" class="img-circle" style="border: 10px solid orange;"></p>
                                            <%}else {%>
                                                <p><img src="/images.png" class="img-circle"></p>
                                                <%}%>
                                </div>
                            </div>
                            <!-- /col-md-4 -->
                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /col-lg-12 -->
                    <div class="col-lg-12 mt">
                        <div class="row content-panel">
                            <div class="panel-heading">
                                <ul class="nav nav-tabs nav-justified">
                                    <li class="active">
                                        <a data-toggle="tab" href="#overview">
                                            <h3>Informations</h3>
                                        </a>
                                    </li>

                                    <li>
                                        <a data-toggle="tab" href="#edit">
                                            <h3>Plus d'informations</h3>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /panel-heading -->
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div id="overview" class="tab-pane active">
                                        <div class="row">
                                            <div class="col-md-6">

                                                <div class="detailed mt">
                                                    <h4>Les dernieres informations</h4>
                                                    <div class="recent-activity">
                                                        <div class="activity-icon bg-theme"><i class="fa fa-check"></i></div>
                                                        <div class="activity-panel">
                                                            <h5>
                                                                <%= dateDernierMeteo%>
                                                            </h5>
                                                            <p style="font-size: medium;">Dernière meteo</p>
                                                        </div>
                                                        <div class="activity-icon bg-theme02"><i class="fa fa-map-marker"></i></div>
                                                        <div class="activity-panel">
                                                            <h5>
                                                                <%=dateDernierPosition%>
                                                            </h5>
                                                            <h5>LT :
                                                                <%= position.LT%> | LG :
                                                                    <%= position.LG%>
                                                            </h5>
                                                            <p style="font-size: medium;">Dernière position</p>
                                                        </div>


                                                    </div>
                                                    <!-- /recent-activity -->
                                                </div>
                                                <!-- /detailed -->
                                            </div>
                                            <!-- /col-md-6 -->
                                            <div class="col-md-6 detailed">
                                                <div class="row centered mt mb">
                                                    <div class="col-sm-3">
                                                        <h3 style="color: blueviolet;">
                                                            <%= nombrePositionEnvoyer%>
                                                                <% if (nombrePositionEnvoyer !== 0){%>
                                                                    <h5 style="color: blueviolet;"><a href="/navire/totalposition/<%= navireData.ID_VMS %>" style="color: blueviolet;">Nombre total des positions envoyée <br> (Mod/Supp)</a></h5>
                                                                    <%} else {%>
                                                                        <h5 style="color: blueviolet;">Nombre total des positions envoyée <br> (Mod/Supp)</h5>
                                                                        <%}%>
                                                        </h3>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <h3 style="color: red;">
                                                            <%= nombreSos %>
                                                                <% if(nombreSos !== 0){ %>
                                                                    <h5 style="color: red;"><a href="/navire/totalSOS/<%= navireData.ID_VMS %>" style="color: red;">Nombre total des SOS <br> (Mod/Supp)</a></h5>
                                                                    <%} else{%>
                                                                        <h5 style="color: red;">Nombre total des SOS <br> (Mod/Supp)</h5>
                                                                        <%}%>
                                                        </h3>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <h3 style="color: green;">
                                                            <%= nombrePREV %>
                                                                <% if(nombrePREV !== 0){%>
                                                                    <h5 style="color: green;"><a href="/navire/totalPrevision/<%= navireData.ID_VMS %>" style="color: green;">Nombre total des Previsions</a></h5>
                                                                    <%} else{%>
                                                                        <h5 style="color: green;">Nombre total des Previsions </h5>
                                                                        <%}%>
                                                        </h3>
                                                    </div>

                                                    <div class="col-sm-3">
                                                        <h3 style="color: orange;">
                                                            <%= nombreBMS %>
                                                                <% if(nombreBMS !== 0){%>
                                                                    <h5 style="color: orange;"><a href="/navire/totalBMS/<%= navireData.ID_VMS %>" style="color: orange;">Nombre total des BMS </a></h5>
                                                                    <%} else{%>
                                                                        <h5 style="color: orange;">Nombre total des BMS </h5>
                                                                        <%}%>
                                                        </h3>
                                                    </div>
                                                </div>
                                                <!-- /row -->

                                                <!-- /row -->

                                                <h4>Courbe des informations</h4>
                                                <div class="row centered">
                                                    <div class="col-md-8 col-md-offset-2">
                                                        <div id="myfirstchart" style="height: 250px;"></div>
                                                    </div>
                                                    <!-- /col-md-8 -->
                                                </div>
                                                <!-- /row -->
                                            </div>
                                            <!-- /col-md-6 -->
                                        </div>
                                        <!-- /OVERVIEW -->
                                    </div>

                                    <div id="edit" class="tab-pane">
                                        <div class="row">
                                            <div class="col-lg-8 col-lg-offset-2 detailed">
                                                <form role="form" class="form-horizontal">

                                                    <div class="form-group">
                                                        <label class="col-lg-2 control-label">NA</label>
                                                        <div class="col-lg-6">
                                                            <p id="c-name" class="form-control">
                                                                <%= navireData.NA %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-lg-2 control-label">ID VMS</label>
                                                        <div class="col-lg-6">
                                                            <p id="c-name" class="form-control">
                                                                <%= navireData.ID_VMS %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-lg-2 control-label">REG ID</label>
                                                        <div class="col-lg-6">
                                                            <p id="c-name" class="form-control">
                                                                <%= navireData.REG_ID %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-lg-2 control-label">IMEI</label>
                                                        <div class="col-lg-6">
                                                            <p id="c-name" class="form-control">
                                                                <%= navireData.IMEI %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-lg-2 control-label">ICCID</label>
                                                        <div class="col-lg-6">
                                                            <p id="c-name" class="form-control">
                                                                <%= navireData.ICCID %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-lg-2 control-label">RC</label>
                                                        <div class="col-lg-6">
                                                            <p id="c-name" class="form-control">
                                                                <%= navireData.RC %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-lg-2 control-label">KEY AES</label>
                                                        <div class="col-lg-6">
                                                            <p id="c-name" class="form-control">
                                                                <%= navireData.KEY_AES %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                            <!-- /col-lg-8 -->
                                        </div>
                                        <!-- /row -->
                                    </div>
                                    <!-- /tab-pane -->
                                </div>
                                <!-- /tab-content -->
                            </div>
                            <!-- /panel-body -->
                        </div>
                        <!-- /col-lg-12 -->
                    </div>
                    <%});%>
            </div>



        </section>


    </section>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script>
        new Morris.Donut({
            // ID of the element in which to draw the chart.
            element: 'myfirstchart',
            // Chart data records -- each entry in this array corresponds to a point on
            // the chart.
            data: [{
                label: 'Position',
                value: '<%= nombrePositionEnvoyer%>',

            }, {
                label: 'SOS',
                value: '<%= nombreSos %>',
                color: 'red'
            }, {
                label: 'Previsions',
                value: '<%= nombrePREV %>',
                color: 'green'
            }, {
                label: 'BMS',
                value: '<%= nombreBMS %>',
                color: 'orange'
            }],
        });
    </script>








    <%- include("../partials/footer"); -%>