<%- include("partials/header"); -%>

    <link href="/css/style.css" rel="stylesheet">
    <script src="/lib/chart-master/Chart.js"></script>
    <!-- <link type="text/css" rel='stylesheet' href="/css/jquery.notify.css" />
    <script type="text/javascript" src="/js_Style/jquery.min.js"></script>
    <script type="text/javascript" src="/js_Style/jquery.notify.min.js" defer></script> -->

    <style>
        .sidebar {
            position: fixed;
            top: 60px;
            right: 0;
            width: 408px;
            height: 100%;
        }
        
        .visibleText {
            font-size: 0px;
        }
        
        .notify.notify-bottom-right {
            right: 20px;
        }
    </style>
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-9 main-chart">



                    <div class="border-head">
                        <% user.forEach(element => { %>
                            <h5 class="centered">
                                <h3>Bienvenue
                                    <%= element.PRENOM%>
                                </h3>
                            </h5>
                            <% });%>

                    </div>
                    <div>
                        <canvas class="custom-bar-chart" id="myChart" height="300vw" width="800vw"></canvas>
                    </div>


                    <br>
                    <div class="border-head">
                        <br>
                        <h3 style="text-align: center;">Les informations d'aujourd'hui</h3>
                    </div>
                    <div class="row mt">
                        <div class="col-md-4 col-sm-4 mb">
                            <div class="grey-panel pn donut-chart">
                                <div class="grey-header">
                                    <h5> Previsions reçu Pour Aujourd'hui</h5>
                                </div>
                                <canvas id="serverstatus01" height="300vw" width="800vw"></canvas>

                                <div class="row">
                                    <div class="col-sm-6 col-xs-6 goleft">
                                        <p><br><a href="/meteo/historiqueAujourdhuiPREV">Verifier</a></p>
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <h2>
                                            <%=pourcentageDesPREV%>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-4 col-sm-4 mb">
                            <div class="darkblue-panel pn">
                                <div class="darkblue-header">
                                    <h5>BMS reçu pour aujourd'hui</h5>
                                </div>
                                <canvas id="serverstatus03" height="300vw" width="800vw"></canvas>


                                <p id="dateAujourdhui"></p>

                                <footer>

                                    <div class="pull-right">
                                        <h5>
                                            <%=pourcentageDesBMS%>
                                        </h5>
                                    </div>

                                </footer>
                            </div>
                        </div>


                        <div class="col-md-4 col-sm-4 mb">
                            <div class="weather pn">
                                <i class="fa fa-cloud fa-4x"></i>
                                <h2 id="weather"></h2>
                                <h4><a href="#" style="text-decoration:none; color: white;">Tunis</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="border-head">
                        <br>
                        <h3 style="text-align: center;">Les navires connecter pour aujourdhui</h3>
                    </div>
                    <div style="text-align: center;">
                        <% naviresConnecter.forEach(navire => { %>
                            &nbsp; &nbsp;
                            <a href="/navire/navire/<%= navire.ID_VMS%>" class="btn btn-round btn-warning">
                                <%= navire.NA%>
                            </a>
                            <%});%>
                                <a href="/map/navireAujourdhui" class="btn btn-round btn-warning">
                                Tous ...
                            </a>
                    </div>
                </div>



                <!-- <div class="col-lg-3 ds notificationbar">
                    <a href="#" style="color: #797979;" id="buttonNotification">
                        <div class="panel green-panel no-margin">
                            <div class="panel-body">
                                <div class="container-fluid">
                                    <span style="font-size:medium">Les Notifications</span>
                                    <br>
                                    <i id="icon" class="fa fa-angle-double-up"></i>
                                </div>
                            </div>

                        </div>
                    </a>
                    <br>

                    <div class="notificationBarVisibility visibleText">
                        <div class='panel terques-chart'>
                            <div class='chart'>
                                <div class='centered'>
                                    <span>Nombre Total Des Notifications: 50</span>
                                    <strong> 

                                        </div>
                                        <div class='sparkline' data-type='line' data-resize='true' data-height='75' data-width='90%' data-line-width='1' data-line-color='#fff' data-spot-color='#fff' data-fill-color='' data-highlight-line-color='#fff' data-spot-radius='4' data-data='[200,135,667,333,526,996,564,123,890,564,455]'>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->


            </div>
        </section>
    </section>





    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>


    <!--common script for all pages-->
    <!--script for this page-->


    <script src="../js/homeConfig.js"></script>





    <%- include("partials/footer"); -%>