<%- include("../partials/header"); -%>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="/lib/advanced-datatable/css/DT_bootstrap.css" />
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


    <section id="main-content">
        <section class="wrapper">
            <h3> La BMS d'aujourd'hui</h3>
            <div class="row mb">
                <!-- page start-->
                <div class="content-panel">
                    <div class="adv-table">
                        <div class="dataTables_wrapper form-inline" id="hidden-table-info_wrapper">
                            <div class="row-fluid" id="">
                                <div class="span6" id="">
                                    <div class="dataTables_length" id="hidden-table-info_length">
                                        <br>
                                        <label>
                                            <form id="formPagination" action="/meteo/historiqueAujourdhuiBMS_pagination" method="get">
                                                <select size="1" id="myForm" name="pagination" aria-controls="hidden-table-info">
                                                    <option  value="10" >--</option>
                                                    <option  value="10" >10</option>
                                                    <option  value="25">25</option>
                                                    <option  value="50">50</option>
                                                    <option  value="100">100</option>
                                                </select>
                                            </form>
                                            &nbsp;
                                            Pagination
                                        </label>
                                    </div>
                                </div>
                                <form action="/meteo/historiqueAujourdhuiRecherche_BMS" method="get">
                                    <div class="span6">
                                        <div class="dataTables_filter" id="hidden-table-info_filter">
                                            <label>
                                                Recherche &nbsp;
                                                <input type="text" aria-controls="hidden-table-info" name="search">
                                            </label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                            <thead>
                                <tr>
                                    <th class="hidden-phone" style="text-align: center;">DA</th>
                                    <th style="text-align: center;">CRC</th>
                                    <th style="text-align: center;">TI</th>
                                    <th style="text-align: center;">TY</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% weatherDataAujourdhui.forEach(function(meteo) { %>

                                    <tr class="gradeX">
                                        <td class="center hidden-phone" style="text-align: center; font-size: medium;">

                                            <%= meteo.DA[6]%>
                                                <%= meteo.DA[7]%> /
                                                    <%= meteo.DA[4]%>
                                                        <%= meteo.DA[5]%> /
                                                            <%= meteo.DA[0]%>
                                                                <%= meteo.DA[1]%>
                                                                    <%= meteo.DA[2]%>
                                                                        <%= meteo.DA[3]%>

                                        </td>
                                        <td style="text-align: center;font-size: medium;">
                                            <%= meteo.CRC %>
                                        </td>

                                        <td class="hidden-phone" style="text-align: center; font-size: medium;">
                                            <%= meteo.TI[0] %>
                                                <%= meteo.TI[1] %>
                                                    h -
                                                    <%= meteo.TI[2] %>
                                                        <%= meteo.TI[3] %>
                                                            min
                                        </td>

                                        <td class="hidden-phone" style="text-align: center; font-size: medium;">
                                            <%= meteo.TY %>
                                        </td>
                                    </tr>

                                    <% }); %>

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- page end-->
            </div>
            <!-- /row -->
            <!-- /wrapper -->
        </section>

        <script>
            // document.querySelector('#paginationForm').click(function() {
            //     document.querySelector('#myForm').submit();
            // });

            var activities = document.getElementById("myForm");

            activities.addEventListener("click", function() {
                var options = activities.querySelectorAll("option");
                var count = options.length;
                if (typeof(count) === "undefined" || count < 2) {
                    document.querySelector('#formPagination').submit();
                }
            });

            activities.addEventListener("change", function() {
                if ((activities.value == "10") || (activities.value == "25") || (activities.value == "50") || (activities.value == "100")) {
                    document.querySelector('#formPagination').submit();
                }
            });
        </script>


        <%- include("../partials/footer"); -%>